.sc-bcXHqe, .sc-pyfCe, .sc-fnGiBr {
    background: linear-gradient(264.74deg, #825841 11.38%, #3C3C3C 100%)!important;
}

.Dropdown-control {
    border-color: #825841!important;
}

.sc-dIfARi {
    background: linear-gradient(264.74deg, #825841 11.38%, #3C3C3C 100%)!important;
    cursor: pointer;
    border: 3px solid #825841!important;
}

.sc-dIfARi svg{
    fill: #fff;
}


.sc-dmctIk {
    top: 22px!important;
    cursor: pointer;
}

.sc-ksBlkl  {
    padding-bottom: 100px!important;
    padding-top: 20px!important;
}

.sc-dIfARi {
    z-index: 200!important;
}