.home-slick-wrapper .footer-img-child img{
    width: 100%;
    
}

.home-slick-wrapper .slick-prev:before, 
.home-slick-wrapper .slick-next:before {
    font-size: 22px!important;
}

.home-slick-wrapper .footer-img-child {
    padding: 0 5px!important;
}

.footer-img-parent .slick-prev{
    left: 0px !important;
    z-index: 3 !important;
}
.footer-img-parent  .slick-next{
    right: 0;
}


.slick-list {
    width: 90%!important;
    margin: 0 auto!important;
}

.footer-img-child img{
    width: 196px;
    object-fit: cover;
    height: 90px;
}